h1, h2 {
    text-align: center;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background: url(./Ворота_детского_сада_-_panoramio.jpg) center no-repeat;
}

header h1, header a {
    color:rgb(255, 255, 255);
    text-shadow: black 1px 2px;
    padding: 2vh
}

.site-title {
  text-align: center;
  text-transform: uppercase;
}
a, li, p, form{
    padding-left: 5vw;
    padding-right: 5vw;
}
a{
    text-decoration: none;
    color: rgba(4, 151, 102, 0.781);
    padding: 4vw;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
}

footer{
    display:flex;
    
    justify-content:space-around;
  }
footer a{
    padding: 2vh;
}